<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="manage/fragments/contentHeaderImport :: contentHeaderImport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<style>
    .preview {
        max-width: 100px;
        height: 100px;
    }

    .main {
        margin-top: 40px;
    }

    .form-group {
        margin-left: 50px;
        margin-bottom: 37px;
    }

    .multiple-form-group {
        margin-top: 37px;
    }

    .input-group {
        margin-top: 15px;
    }

    .inWhiteContent {
        margin-right: 300px;
        margin-top: 30px;
    }

    textarea {
        margin-right: 100px;
    }
</style>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" href="/assets/css/contentsTextForm.css">
<body>
<!--Textarea with icon prefix-->
<br>
<div id="wrapper">
    <div class="header">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a th:href="@{/}">
                    <img src="/assets/img/logo-word.png" width="150" height="150" alt="ArtonHanger Logo"
                         class="img-responsive logo">
                </a>
            </div>
            <input type="button" onclick="handleUpload()" value="업로드" class="btn btn-primary" name="submit" id="submitBtn" />

            <div class="container-fluid">
                <div class="navbar-btn"></div>
                <div id="navbar-menu">
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="panel panel-headline">

</div>

<div class="main">
    <div class="main-content">
        <div class="container-fluid">

            <div class="panel panel-headline">
                <div class="panel-heading">
                    <div class="container-fluid">
                        <div class="panel-title">
                            <h3>컬렉터 콘텐츠</h3>
                        </div>
                        <hr>
                        - 글 업로드 또는 반려 여부안내는 작성해주신 시점을 기준으로 10일 미만으로 소요됩니다.<br><br>
                        - 아래 질문에 맞춰서 그림에 대한 정보와 컬렉터님 소개를 해주세요. <strong>(그림/공간 사진 최소 5장 이상)</strong><br><br>
                        - 그림 소개/ 컬렉터 소개 관련해서 고민이 될 땐 이 <strong><a href="https://fuchsia-end-a78.notion.site/e63bf915d8da4becb7da152dabc52a5e" target="_blank"><span style="font-size: large;">링크</span></a> </strong>를 참고해주세요 <br><br>
                        - 사진 첨부 시 용량은 <strong>장당 최대 10MB까지 </strong>업로드할 수 있고, jpg, png 포맷을 지원합니다.<br><br>
                        - 커버사진과 제목은 에디터에 의해 변경될 수 있습니다.<br><br>
                        - 5000포인트는 홈페이지에 글 업로드가 완료된 뒤 3일 이내로 지급됩니다.
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="panel panel-headline">
                <div class="inWhiteContent">
                    <form accept-charset="UTF-8" class="upload-form" id="upload-form">
                        <div class="intro">
                            <div class="form-group">
                                <label for="collectorName">컬렉터 이름</label>
                                <input type="text" name="collectorName" id="collectorName" class="form-control"
                                       placeholder="(필수) 이름을 입력해주세요" required="required">
                            </div>

                            <div class="form-group">
                                <label for="artworkTitle">구매 그림 제목/작가명</label>
                                <input type="text" name="artworkTitle" class="form-control" id="artworkTitle"
                                       placeholder="(필수)구매하신 그림 제목/작가명을 입력해주세요" required="required">
                            </div>

                            <div class="form-group">
                                <label for="contentTitle">콘텐츠 제목</label>
                                <input type="text" name="contentTitle" class="form-control" id="contentTitle"
                                       placeholder="(필수) 콘텐츠 제목을 입력해주세요" required="required">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group multiple-form-group">
                            <label for="introduce">1. 컬렉터님은 어떤분이신가요? 본인을 소개해 주세요</label>
                            <div class="from-group input-group">
                                <label for="introduceUrl">
                                    <img class="preview" src="/assets/img/preview-icon.png" alt="your image"/>
                                </label>
                                <input type="file"  accept="image/jpeg, image/png, image/bmp" id="introduceUrl" name="introduceUrl" onchange="readURL(this);"
                                       class="imageUpload" style="display: none"/>
                            </div>

                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                                <textarea id="introduce" name="introduce" class="md-textarea form-control" rows="3"></textarea>
                                <label for="introduce">0</label>
                            </div>
                        </div>


                        <div class="form-group multiple-form-group">
                            <label for="taste">2. 컬렉터님은 어떤 취향을 가지고 계신가요?</label>
                            <div class="from-group input-group">
                                <label for="input-file-taste">
                                    <img class="preview" src="/assets/img/preview-icon.png" alt="your image"/>
                                </label>
                                <input type="file"  accept="image/jpeg, image/png, image/bmp" id="input-file-taste" name="tasteUrl" style="display: none"
                                       onchange="readURL(this);" class="imageUpload"/>
                            </div>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                            <textarea id="taste" name="taste" class="md-textarea form-control" rows="3"
                                      placeholder="(취미/좋아하는 것 등 다양하게 자신을 표현해주세요)"></textarea>
                                <label for="taste">0</label>
                            </div>
                        </div>

                        <div class="form-group multiple-form-group">
                            <label for="location">3. 그림을 놓으신 공간을 소개해 주세요</label>
                            <div class="from-group input-group">
                                <label for="input-file-location">
                                    <img class="preview" src="/assets/img/preview-icon.png" alt="your image"/>
                                </label>
                                <input type="file" accept="image/jpeg, image/png, image/bmp" id="input-file-location" name="locationUrl" style="display: none"
                                       onchange="readURL(this);" class="imageUpload"/>
                            </div>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                            <textarea id="location" name="location" class="md-textarea form-control" rows="3"
                                      placeholder="(그림과 공간이 모두 보이는 사진을 올려주세요) "></textarea>
                                <label for="location">0</label>
                            </div>
                        </div>

                        <div class="form-group multiple-form-group">
                            <label for="choiceStandard">4. 그림을 고를 때 생각 / 기준을 알려주세요.</label>
                            <div class="from-group input-group">
                                <label for="input-file-choiceStandardUrl">
                                    <img class="preview" src="/assets/img/preview-icon.png" alt="your image"/>
                                </label>
                                <input type="file" accept="image/jpeg, image/png, image/bmp" id="input-file-choiceStandardUrl" name="choiceStandardUrl"
                                       style="display: none"
                                       onchange="readURL(this);" class="imageUpload"/>
                            </div>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                            <textarea id="choiceStandard" name="choiceStandard" class="md-textarea form-control" rows="3"
                                      placeholder="(그림사진을 올려주세요)"></textarea>
                                <label for="choiceStandard">0</label>
                            </div>
                        </div>


                        <div class="form-group multiple-form-group">
                            <label for="choiceReason">5. 그림을 고른 이유를 알려주세요.</label>
                            <div class="from-group input-group">
                                <label for="input-file-choiceReason">
                                    <img class="preview" src="/assets/img/preview-icon.png" alt="your image"/>
                                </label>
                                <input type="file" accept="image/jpeg, image/png, image/bmp" id="input-file-choiceReason" name="choiceReasonUrl"
                                       style="display: none"
                                       onchange="readURL(this);" class="imageUpload"/>
                            </div>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                                <textarea id="choiceReason" name="choiceReason" class="md-textarea form-control" rows="3"></textarea>
                                <label for="choiceReason">0</label>
                            </div>
                        </div>


                        <div class="form-group multiple-form-group">
                            <label for="charmingPoint">6. 구매하신 그림 자랑해주세요! 어떤 매력 포인트가 있나요?</label>
                            <div class="from-group input-group">
                                <label for="input-file-charmingPointUrl">
                                    <img class="preview" src="/assets/img/preview-icon.png" alt="your image"/>
                                </label>
                                <input type="file"  accept="image/jpeg, image/png, image/bmp" id="input-file-charmingPointUrl" name="charmingPointUrl"
                                       style="display: none"
                                       onchange="readURL(this);" class="imageUpload"/>
                            </div>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                                <textarea id="charmingPoint" name="charmingPoint" class="md-textarea form-control" rows="3"></textarea>
                                <label for="charmingPoint">0</label>
                            </div>
                        </div>


                        <div class="form-group multiple-form-group">
                            <label for="locationAfter">7. 이 전에 비해 그림이 있는 공간은 어떤점이 달라졌나요?</label>
                            <div class="from-group input-group">
                                <label for="input-file-locationAfterUrl">
                                    <img class="preview" src="/assets/img/preview-icon.png" alt="your image"/>
                                </label>
                                <input type="file"  accept="image/jpeg, image/png, image/bmp" id="input-file-locationAfterUrl" name="locationAfterUrl"
                                       style="display: none"
                                       onchange="readURL(this);" class="imageUpload"/>
                            </div>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                                <textarea id="locationAfter" name="locationAfter" class="md-textarea form-control" rows="3"></textarea>
                                <label for="locationAfter">0</label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="tip"> 8. 첫 그림을 고민하는 분들에게 알려주시고 싶은 자신만의 팁이 있으신가요? </label>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                                <textarea id="tip" name="tip" class="md-textarea form-control" rows="3"></textarea>
                                <label for="tip">0</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="recommend"> 9.다음에 구매하고 싶은 그림, 다른 아트러버 분에게 추천하고 싶은 그림은 무엇인가요? </label>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                            <textarea id="recommend" name="recommend" class="md-textarea form-control" rows="3"
                                      placeholder="제목또는 링크를 남겨주세요! "></textarea>
                                <label for="recommend">0</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="etc"> 하고싶은 말들을 자유롭게 남겨주세요. </label>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                                <textarea id="etc" name="etc" class="md-textarea form-control" rows="3"></textarea>
                                <label for="etc">0</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/contentUpload/imageUpload.js"></script>
<link rel="stylesheet" href="//rawgit.com/Soldier-B/jquery.toast/master/jquery.toast/jquery.toast.min.css"/>
<script src="//rawgit.com/Soldier-B/jquery.toast/master/jquery.toast/jquery.toast.min.js"></script>z
<script type="text/javascript">
    function checkImageCount() {
        var chk = 0;
        $('.imageUpload').each(function () {
            if ($(this).val()) {
                chk++;
            }
        });
        return chk;
    };


    $('.md-textarea').keyup(function (e) {
        var content = $(this).val();
        $(this).next().html($(this).val().length);
    })
    function verifyEmptyValue (tag, text) {
        tag.focus();
        var value = tag.val();
        if (value === '' || value === null) {
            $.toast('<h2>'+text+'</h2>', {
                duration: 2000,
                type: 'danger'
            });
            return false;
        }
        return true;
    };
    function handleUpload() {
        if (
            !verifyEmptyValue($('#collectorName'), '컬렉터 이름을 입력해주세요.') ||
            !verifyEmptyValue($('#artworkTitle'), '구매하신 그림 제목/작가명을 입력해주세요.') ||
            !verifyEmptyValue($('#contentTitle'), '콘텐츠 제목을 입력해주세요.') ||
            !verifyEmptyValue($('#introduce'), '1.본인소개를 입력해주세요.') ||
            !verifyEmptyValue($('#taste'), '2.컬렉터님의 취향을 입력해주세요') ||
            !verifyEmptyValue($('#location'), '3. 그림을 놓으신 공간을 소개해주세요!') ||
            !verifyEmptyValue($('#choiceStandard'), '4.그림을 고를때의 생각 / 기준을 입력해주세요.') ||
            !verifyEmptyValue($('#charmingPoint'), '6. 구매하신 그림의 매력포인트를 자랑해주세요!') ||
            !verifyEmptyValue($('#locationAfter'), '7.번 항목을 확인해주세요!')
        ) {
            return;
        }
        if (checkImageCount() < 5) {
            toastError("사진을 최소 5장 이상 올려주세요.");
            return;
        }
        toastInfo("사진용량에따라 업로드 시간이 오래걸릴 수 있습니다. 잠시만 기다려주세요.");
        dataSend();
        return;
    }

    $(document).ready(function () {
        $.toast.config.align = 'center';
        $.toast.config.width = 400;
    });

    function dataSend() {
        var formData = new FormData($("#upload-form")[0])
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $.ajax({
            async: false,
            url: "/collector/upload",
            enctype: 'multipart/form-data',
            contentType: false,
            processData: false,
            data: formData,
            // dataType: 'json',
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (data) {
                toastInfo("콘텐츠가 업로드되었습니다.")
                setTimeout(function () {
                    location.href = "/collector/upload";
                }, 2000);
            },
            error: function (data) {
                var code = data.responseJSON.errCode;
                var message = data.responseJSON.message;
                var status = data.status;
                if (code === "FUL_001")
                    toastError('사진파일 크기는 10MB 미만으로 업로드해주세요!');
                else if (code === "FUL_000")
                    toastError('허용된 파일 개수를 초과 하였습니다.');
                else if (code === "FUL_002")
                    toastError('허용된 파일 총 용량을 초과하였습니다. ');
                else if (code === "FUL_003")
                    toastError('업로드된 사진이 없습니다.');
                else if (code === "ETC_000")
                    toastError('서버 에러입니다 잠시 후 다시 시도해주세요.');
            }
        });
    }

    function toastInfo(text) {
        $.toast('<h2>' + text + '</h2>', {
            duration: 3000,
            type: 'info'
        });
        return;
    };

    function toastError(errorMessage) {
        $.toast('<h3>' + errorMessage + '</h3>', {
            duration: 2000,
            type: 'danger'
        });
        return;
    };
</script>
</body>
</html>