<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/fragments/headerImport :: headerImport"/>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div th:replace="manage/fragments/navHeader :: navHeader"/>
    <!-- LEFT SIDEBAR -->
    <div th:replace="manage/fragments/sidebar :: sidebar"></div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 offset-md-3 mt-5">
                                <form accept-charset="UTF-8" th:action="@{/modify/pw}" method="POST"
                                      enctype="multipart/form-data" class="modify-form" id="modify-form">
                                    <input type="hidden" name="email" th:value="${member.email}">
                                    <div class="form-group">
                                        <label for="prevPassword">기존 비밀번호</label>
                                        <input type="password" name="prevPassword" class="form-control"
                                               id="prevPassword" placeholder="이전 비밀번호" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="changedPassword">변경할 비밀번호</label>
                                        <input type="password" name="changedPassword" class="form-control"
                                               id="changedPassword"
                                               placeholder="변경할 비밀번호" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="changePasswordConfirm">비밀번호 확인</label>
                                        <input type="password" name="changePasswordConfirm" class="form-control"
                                               id="changePasswordConfirm"
                                               placeholder="변경할 비밀번호 확인" required="required">
                                    </div>
                                    <input type="button" class="btn btn-primary" onclick="handleSubmit()"
                                           value="비밀번호 변경"/>
                                </form>
                                <!--    <div th:replace="fragments/footer :: footer"/>-->
                            </div>
                            <script src="/assets/js/jquery-3.5.1.min.js"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
                        </div>

                    </div>
                </div>
                <!-- END OVERVIEW -->
                <div class="row">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <!-- VISIT CHART -->
                    <div class="panel">
                        <div class="panel-heading">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
                <!-- END REALTIME CHART -->
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<div class="clearfix"></div>
<footer>
    <div class="container-fluid">
        <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All
            Rights Reserved.</p>
    </div>
</footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/scripts/klorofil-common.js"></script>
<link rel="stylesheet" href="//rawgit.com/Soldier-B/jquery.toast/master/jquery.toast/jquery.toast.min.css"/>
<script src="//rawgit.com/Soldier-B/jquery.toast/master/jquery.toast/jquery.toast.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.toast.config.align = 'center';
        $.toast.config.width = 400;
    });

    function dataSend() {
        var formData = new FormData($("#modify-form")[0])
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $.ajax({
            async: false,
            url: "/modify/pw",
            enctype: 'multipart/form-data',
            contentType: false,
            processData: false,
            data: formData,
            // dataType: 'json',
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (data) {
                toastInfo("비밀번호가 변경되었습니다.")
                console.log(data);
                setTimeout(function () {
                    location.href = "/modify/pw";
                }, 1000);
            },
            error: function (data) {
                $('#submitBtn').attr('type', 'button');
                var code = data.responseJSON.errCode;
                var message = data.responseJSON.message;
                var status = data.status;
                if (code === "MBS_002") {
                    toastError('이전 비밀번호가 일치하지 않습니다.');
                    return;
                } else if (code === "MBS_005")
                    toastError('잘못된 입력입니다 입력값을 다시 확인해주세요.');
                else if (code === "ETC_000")
                    toastError('서버 에러입니다 잠시 후 다시 시도해주세요.');
            }
        });
    }

    function handleSubmit() {
        if (!verifyEmptyValue($('#changedPassword').val(), '변경할 비밀번호를 입력해주세요.')
            || !verifyEmptyValue($('#prevPassword').val(), '이전 비밀번호를 입력해주세요. ')
            || !verifyEmptyValue($('#changePasswordConfirm').val(), '변경할 비밀번호 확인란을 입력해주세요.'))
            return;
        else if (!verifyPassword())
            return;
        else {
            $('#submitBtn').attr('type', 'hidden');
            dataSend();
            return;
        }
    }

    function toastInfo(text) {
        $.toast('<h2>' + text + '</h2>', {
            duration: 1000,
            type: 'info'
        });
        return;
    };

    function toastError(text) {
        $.toast('<h2>' + text + '</h2>', {
            duration: 2000,
            type: 'danger'
        });
        return;
    };

    function verifyEmptyValue(value, text) {
        if (value === '' || value === null) {
            $.toast('<h2>' + text + '</h2>', {
                duration: 2000,
                type: 'danger'
            });
            return false;
        }
        return true;
    };

    function verifyPassword() {
        var passwd = $('#changedPassword').val();
        var confirmPasswd = $('#changePasswordConfirm').val();
        if (passwd === confirmPasswd && passwd === '') {
            toastError('');
            return false;
        }
        if (!/^[a-zA-Z0-9]{8,20}$/.test(passwd)) {
            toastError('비밀번호는 영문 숫자 조합 8~20자리입니다.');
            return false;
        }
        var checkNum = passwd.search(/[0-9]/g);
        var checkEng = passwd.search(/[a-z]/gi);
        if (checkNum < 0 || checkEng < 0) {
            toastError('비밀번호는 영문 숫자 조합 8~20자리입니다.');
            return false;
        }
        if (passwd !== confirmPasswd) {
            toastError('비밀번호가 확인과 일치하지 않습니다.');
            return false;
        }
        return true;
    };

</script>
</body>

</html>
